<div class="row">
  <div class="col-xl-1"></div>
  <div class="col-sm-12">
    <label for="personalInfo"><h3>Personal Info</h3></label>
    <hr>
    <form id="personalInfo" #f="ngForm">
      <div class="row">
        <div class="col-xl-6" >
          <label for="name">Name</label>
          <input
            ngModel
            id="name"
            type="text"
            name="firstName"
            class="form-control"
            required
            [(ngModel)] ="userData.name" >
          <p>{{userData.name}}</p>
        </div>
          <div class="col-xl-6 ">
          <label for="Surname">Surname</label>
          <input
            ngModel
            id="surname"
            type="text"
            name="surname"
            class="form-control"
            required
            [(ngModel)] ="userData.surname" >
            <p>{{userData.surname}}</p>
          </div>
        <div class="col-xl-12">
          <label for="email">Email</label>
          <input
            ngModel
            id="email"
            type="text"
            name="email"
            class="form-control"
            email
            required
            [(ngModel)] ="userData.email" >
          </div>
        <div class="col-xl-12">
          <label for="phoneNumber">Phone Number</label>
          <input
            ngModel
            id="phoneNumber"
            type="text"
            name="phoneNumber"
            class="form-control"
            required
            min = 0
            maxlength="9"
            [(ngModel)] ="userData.phoneNumber">
            <p>{{userData.phoneNumber}}</p>
          </div>
        <div class="col-xl-12">
          <label for="address">Address</label>
          <input
            ngModel
            id="address"
            type="text"
            name="address"
            class="form-control"
            required
            [(ngModel)] ="userData.address">
        </div>
       </div>
    </form>
    <hr>
    <label for="carrierInfo"><h3>Carrier Info</h3></label>
    <form id="carrierInfo" (ngSubmit)="onAddExperience(carrierInfo)" #carrierInfo="ngForm">
      <div class="row">
        <div class="col-xl-12 ">
          <label><h5>Job experience</h5></label>
         <div
           *ngFor="let inputs of jobExperienceInputs; let i = index"
           class="col-xl-12">
           <label for="title">Title</label>
            <div>
            <input
              class="form-control"
              id="title"
              type="text"
              name="title"
              ngModel
              >
            </div>
           <label for="employer">Previous Employer</label>
           <div>
             <input
               class="form-control"
               id="employer"
               type="text"
               name="employer"
               ngModel>
           </div>
            <div class="row">
              <div class="col-xl-6">
                <label for="began">Began</label>
                <input
                  name="began"
                  ngModel
                  type="month"
                  id="began"
                  class="form-control">
              </div>
              <div class="col-xl-6">
              <label for="ended">Ended</label>
              <input
                name="ended"
                ngModel
               type="month"
               id="ended"
               class="form-control">
              </div>
            </div>
           <hr>
        </div>
      </div>
        <div class="col-xs-4" style="margin-top: 15px">
        <button
          class="btn btn-primary"
          type="button"
          (click)="onAddJobExperience()">Add job experience</button>
        </div>
      </div>
    </form>
    <hr>
    <label for="hobbyAndSkills"><h3>Hobby And Skills</h3></label>
    <form id="hobbyAndSkills">
      <label><h5>Skills</h5></label>
          <div
            *ngFor="let inputs of skillsInputs"
              >
            <div class="row">
              <div class="col-xl-9">
              <label for="skill">Skills</label>
              <input
                type="text"
                name="skills"
                ngModel
                id="skill"
                class="form-control">
            </div>
            <div class="col-xl-3">
              <label for="skillLevel">Skill level</label>
              <input
                ngModel
                id="skillLevel"
                name="skillLevel"
                class="form-control">
            </div>
          </div>
            <hr>
        </div>
        <div class="col-xs-4" style="margin-top: 15px">
          <button
            class="btn btn-primary"
            type="button"
            (click)="onAddSkills()">Add Skills</button>
        </div>
      <label for="hobby"><h5>Hobby</h5></label>
      <div
        *ngFor="let inputs of hobbyInputs"
        id="hobby"
      >
        <div class="row">
          <div class="col-xl-12">
            <input
              type="text"
              name="skills"
              ngModel
              id="hobbyInput"
              class="form-control">
          </div>
        </div>
        <hr>
      </div>
      <div class="col-xs-4" style="margin-top: 15px">
        <button
          class="btn btn-primary"
          type="button"
          (click)="onAddHobby()">Add Hobby</button>
      </div>
    </form>
      <button class="btn btn-success" type="button" (click)="onAddExperience(carrierInfo)">TEST</button>
      <div *ngFor="let wololo of experience">
        <p>{{person.title}}</p>
        <p>{{person.employer}}</p>
        <p>{{person.began}}</p>
        <p>{{person.ended}}</p>
      </div>
  </div>
</div>

